.article {
    display: flex;
    margin-top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
}

.article .form,
.article .time {
    flex: 1 1;
    padding: 30px;
}

.article .form .txt {
    text-align: right;
}

.article .table .thead-dark th {
    background-color: #ff8b01;
    border-color: #ff8b01;
    text-align: center;
}

.article .table .thead-dark tr {
    border: 1px solid #ff8b01;
}

.article .table tbody td {
    border: 1px solid #ff8b01;
    text-align: center;
}


/* Google map iframe styles and set to width 100% */

iframe {
    width: 100%;
    height: 250px;
}


/* Music page styles */

.music .card-img-top {
    width: 106px;
    margin: 10px;
}

.music .card {
    display: flex;
    flex-direction: row;
    float: left;
    margin: 20px;
    width: 400px;
}

.music img {
    flex: 0 0 106px;
}

.music div {
    flex: 0 0 200px;
}

.music div .material-icons {
    vertical-align: bottom;
}

.music div .card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 240px;
}

.music .w1 {
    width: 20%;
}

.txtLocate {
    padding: 20px;
}


/* Contact us popup styles */

#popup.show {
    display: block;
    background: rgba(0, 0, 0, .6);
}


/* Form validation error styles */

.txt-error {
    display: none;
}

.txt-error.show {
    display: block;
    color: crimson;
}

.frame {
    width: 100%;
    height: 250px;
}