* {
    box-sizing: border-box;
    /* Applying to all DOM elements */
}


/* Google Font Initialization to custom class name */

.gamja {
    font-family: 'Gamja Flower', cursive;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.char {
    font-family: 'Charmonman', cursive;
}

.bungee {
    font-family: 'Bungee', cursive;
}

.pacific {
    font-family: 'Pacifico', cursive;
}

.yanone {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.amatic {
    font-family: 'Amatic SC', cursive;
}

.barlow {
    font-family: 'Barlow Condensed', sans-serif;
}


/* Resetting default UL style */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    overflow-x: hidden;
}

header {
    position: fixed;
    /* Making header content fixed and not scrollable */
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    /* Height of the header content is 70px */
    display: flex;
    z-index: 10;
    /* Z-index is set to bring th header content forward */
}


/* Tribute logo */

header .logo {
    flex: 0 0 50px;
    margin: 5px 20px 0 20px;
}


/* Tribute name */

header .logo-txt {
    color: #ff8b01;
    font-size: 35px;
    line-height: 70px;
    flex: 1 1 auto;
}

header .menu {
    align-self: self-end;
    margin-right: 50px;
}

header .menu li {
    display: inline-block;
    padding: 18px 0 10px 0;
    color: #ff8b01;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 23px;
    margin: 0;
    cursor: pointer;
    border-left: 1px solid #ff8b01;
    width: 144px;
    text-align: center;
    margin-left: -4px;
}

header .menu li.active {
    background-color: #ff8b01;
    color: white;
    /* Used to indicate current page */
}

header .menu li:hover {
    background-color: #ff8b01;
    /* On hover menu color will toggle */
    color: white;
}


/* Header background will change to black (onScroll javascript event scroll class is toggled) */

header.scroll {
    box-shadow: 1px 1px 5px white;
    background: black;
}


/* Footer styles */

footer {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #23232d;
    color: white;
}

footer div {
    flex: 1 1 auto;
    margin: 10px 20px;
}

footer div.link {
    text-align: right;
}

.banner {
    background-image: url(../images/music-concerts.jpeg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    margin-top: 70px;
    background-size: 100%;
    background-position-y: -60px;
    position: relative;
}

.banner .txt {
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 5px white;
    position: absolute;
    right: 30px;
    bottom: 10px;
}